/* You must implement the following breakpoints that will be considered desktop, tablet, and mobile. 
The browser should display a desktop version of the site when the width of the browser window is 992px and above. 
Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. 
Mobile view should appear only if the width of the browser is equal to or less than 767px.*/

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}      

body {
    margin: 30px;
}

h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 45px;
    font-size: 1.75em;
}

section {
    position: relative;
}

.all {
    width: 32%; 
    margin-bottom: 2%;
    border: solid 1px;
    border-color: #000000;
    float: left;
}

#lentil, #kale {
    margin-right: 2%
}

.left {
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: center;
    font-size: 1.25em;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right-style: none;
    border-top-style: none;
    border-color: #000000;
    padding: 4px;
    position: relative;
    float: right;
    clear: left;
}

#ls {
    background-color: #173f5f;
}

#ks {
    background-color: #0a3509;
}

#yp {
    background-color: #1f0757;
}

p {
    background-color: azure;
    font-size: 16px;
    padding: 45px 15px 15px 15px;
}

#soup {
    background-color: #a3e5ee; 
}

#salad {
    background-color: #7fc0ad;
}

#parfait {
    background-color: #c89ed4;
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-med-6 {
        width: 49%;
    }
    .col-med-12 {
        width: 100%;
    }
    #kale {
        margin-right: 0
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
    .all {
        position: relative;
    }
}